<md-content>
    <section layout='row' layout-align='center center'>
        <!-- board will be appended inside here -->
        <div id='board-container'></div>
    </section>

    <section layout='row' layout-align='center center'>
        <md-button
            class='md-raised md-primary'
            ng-click='doNextMove()'
        >Show Move</md-button>

        <md-button
            class='md-raised md-primary'
            ng-click='showHint()'
        >Show Hint</md-button>
    </section>
</md-content>
