<md-content layout-fill>
    <section layout='column' layout-align='center center'>
        <span ng-if='showSpinner'>
            <md-progress-circular md-mode='indeterminate'></md-progress-circular>
        </span>
        <h2 style='margin:0;'>
            {{gameInformation.white}} vs {{gameInformation.black}}
        </h2>

        <div layout='row' layout-align='center center'>
            {{gameInformation.event | event}} {{gameInformation.date}}
            &mdash;&nbsp;
            <strong>{{gameInformation.eco}}</strong>&nbsp;{{gameInformation.eco | eco}}</p>
        </div>
    </section>

    <section layout='column' layout-align='center center' layout-fill>
        <!-- board will be appended inside here -->
        <div id='board-container'></div>
    </section>

    <section layout='row' layout-align='center center'>
        <md-button
            class='md-raised md-primary'
            style='margin: 10px 5px 0 0;'
            ng-click='doNextMove()'
        >Show Move</md-button>

        <md-button
            class='md-raised md-primary'
            style='margin: 10px 0 0 5px'
            ng-click='showHint()'
        >Show Hint</md-button>
    </section>
</md-content>
