<md-bottom-sheet class='md-grid' style='padding-bottom:200px;'>
    <md-list>
        <md-item>
            <p>Tal plays</p>
            <md-radio-group ng-model='playerColor.value'>
                <md-radio-button
                    value='white'
                    aria-label='White'>
                    White
                </md-radio-button>

                <md-radio-button
                    value='black'
                    aria-label='Black'>
                    Black
                </md-radio-button>

                <md-radio-button
                    value='any'
                    aria-label='Either'>
                    Either
                </md-radio-button>
            </md-radio-group>
        </md-item>
        <md-item>
            <md-button class='md-primary' ng-click='applyFilters()'>Apply</md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>
