<md-dialog aria-label='Filters Dialog' ng-controller='GameFilterCtrl'>
    <md-content class='md-padding' layout='column' layout-align='center center'>
        <div layout='column' layout-align='center start'>
            Tal as:
            <md-radio-group ng-model='playerColor.value' layout='row' layout-align='center center'>
                <md-radio-button
                    style='margin-top:15px;'
                    value='white'
                    aria-label='White'>
                    White
                </md-radio-button>

                <md-radio-button
                    value='black'
                    aria-label='Black'>
                    Black
                </md-radio-button>

                <md-radio-button
                    value='any'
                    aria-label='Either'>
                    Either
                </md-radio-button>
            </md-radio-group>
        </div>

        <div layout='column' layout-align='center start'>
            <select
                ng-model='opening.ecos'
                ng-options='v as k for (k, v) in ecos'>
                <option value='' selected='selected'>Any opening</option>
            </select>

            <select
                ng-model='year.value'
                ng-options='year for year in years'>
                <option value='' selected='selected'>Any year</option>
            </select>
        </div>
    </md-content>
    <div class='md-actions' layout='row'>
        <md-button md-no-ink class='md-primary' ng-click='applyFilters()'>Apply</md-button>
        <md-button ng-click='cancel()'>Cancel</md-button>
    </div>
</md-dialog>
